.overflow.svelte-n7vcly {
	display: inline-block;
	overflow: hidden;
	vertical-align: bottom;
}
.line.svelte-n7vcly {
	word-spacing: -2px;
	padding: 0.27rem;
	display: inline-block;
	margin: 0.1rem;
}
@media (max-width: 420px) {
	.line.svelte-n7vcly {
		padding: 0rem;
		word-spacing: 0px;
	}
}
.custom-shape-divider-bottom.svelte-11301h9 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}
.custom-shape-divider-bottom.svelte-11301h9 svg:where(.svelte-11301h9) {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 143px;
}
.custom-shape-divider-top.svelte-11301h9 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}
.custom-shape-divider-top.svelte-11301h9 svg:where(.svelte-11301h9) {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 150px;
}
